# compiled output
/exhibit_backend/dist
/exhibit_backend/node_modules

# Logs
/exhibit_backend/logs
/exhibit_backend/*.log
/exhibit_backend/npm-debug.log*
/exhibit_backend/pnpm-debug.log*
/exhibit_backend/yarn-debug.log*
/exhibit_backend/yarn-error.log*
/exhibit_backend/lerna-debug.log*

# OS
/exhibit_backend/.DS_Store

# Tests
/exhibit_backend//coverage
/exhibit_backend//.nyc_output

# IDEs and editors
/exhibit_backend//.idea
/exhibit_backend/.project
/exhibit_backend/.classpath
/exhibit_backend/.c9/
/exhibit_backend/*.launch
/exhibit_backend/.settings/
/exhibit_backend/*.sublime-workspace

# IDE - VSCode
/exhibit_backend/.vscode/*
/exhibit_backend/!.vscode/settings.json
/exhibit_backend/!.vscode/tasks.json
/exhibit_backend/!.vscode/launch.json
/exhibit_backend/!.vscode/extensions.json